.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  /*font-size: 24px;*/
  font-family: "Verdana";
  font-size: 12px;
  font-weight: normal;
  /*line-height: 34px;*/
  line-height: 14px;
  height: 48px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  width: 48px;
  word-wrap: break-word;
  word-break: break-all;
  letter-spacing: 5px;
  resize: none;
}

.focus {
  background: #FAF0E6;
}

.square-top {
  border-top:4px solid #006400;
}
.square-left {
  border-left: 4px solid #006400;
}
.square-bottom {
  border-bottom: 4px solid #006400;
}
.square-right {
  border-right:4px solid #006400;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
